<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./template/pcmoban/css/base.css">
  <link rel="stylesheet" href="./template/pcmoban/css/public.css">
  <link rel="stylesheet" href="./template/pcmoban/css/help.css">
  <title>帮助中心</title>
</head>
<body>
    <div class="header">
        <div class="banxin">
            <a href="/"><img src="../image/logo.png" alt="$config['wzname']"></a>
        </div>
    </div>
    <div class="content">
        <div class="banxin about clearfix">
            <ul class="left">
                <li class="on">关于我们</li>
                <li>联系我们</li>
                <li>帮助中心</li>
                <li>隐私政策</li>
                <li>用户协议</li>
            </ul>
            <div class="con_box left">
                <h3 id="tit_about">关于我们</h3>
                <div class="on">$hp6['nr']</div>
                <div>
                  {if $config['wzkf1']}<p>客服：{$config['wzkf1']} <a href="tencent://message/?uin={$config['wzkf1']}&Site=&Menu=yes">点击咨询</a></p>{/if}
                  {if $config['wzkf2']}<p>客服：{$config['wzkf2']} <a href="tencent://message/?uin={$config['wzkf2']}&Site=&Menu=yes">点击咨询</a></p>{/if}
                  {if $config['wzkf3']}<p>客服：{$config['wzkf3']} <a href="tencent://message/?uin={$config['wzkf3']}&Site=&Menu=yes">点击咨询</a></p>{/if}
                  {if $config['wzhzqq']}<p>商务合作：{$config['wzhzqq']} <a href="tencent://message/?uin={$config['wzhzqq']}&Site=&Menu=yes">点击咨询</a></p>{/if}
                 {if $config['wztel']} <p>热线咨询： {$config['wztel']} </p>{/if}
                </div>
                <div>$hp4['nr']</div>
                <div>$hp2['nr']</div>
                <div>$hp1['nr']</div>
            </div>
        </div>
    </div>
    <div class="footer">
		<p> 
			<a href="./index.php" target="_blank">首页</a>
			<span>|</span><a href="./index.php?to=game">游戏中心</a>
			<span>|</span><a href="./index.php?to=kaifu">开服列表</a>
			<span>|</span><a href="./index.php?to=activity">福利活动</a>
			<span>|</span><a href="./index.php?to=gifts">礼包中心</a>
			<span>|</span><a href="./index.php?to=news">新闻资讯</a>
			
		</p>
        <p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防上当受骗 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
        <p>COPYRIGHT © 2022 $config['wzname']网络科技有限公司 | $config['footinfos'] </p>
    </div>
    <script src="./template/pcmoban/js/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script>
    $(document).on('click','.banxin li',function(){
        var idx = $(this).index();
        var txt = $(this).text();
        $('#tit_about').text(txt);
        $(this).addClass('on').siblings().removeClass('on');
        $('.con_box div').eq(idx).addClass('on').siblings().removeClass('on');
    })
    </script>
</body>
</html>
