<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/template/sysadmin/css/style.css" rel="stylesheet">
	<link href="/template/sysadmin/css/home.css" rel="stylesheet">
	<link rel="icon" href="icon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="icon.ico" type="image/x-icon">
  </head>
<body >
	<div class="main">
	<div class="minihead">
	<div class="dataleft"><em>用户列表</em><span>用户列表详细</span></div>
	
	</div>
	<div class="userfk">
	<table class="">
			<thead>
				<tr>
					<th>ID</th>
					<th>用户头像</th>
					<th onclick="opopop();">用户账号</th>
					<th>昵称</th>
					<th>账号类型</th>
					<th>积分</th>
					<th>禁用</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody class="tbody" id="uslbtr">			
			</tbody>
		</table>
	</div>

	</div>
	
    <script src="/template/sysadmin/js/jquery.min.js"></script>
	<script>
	var opopop =function(){
      
    }
	</script>


  </body>
</html>
